.DS_Store
.env
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.env

uploads/**
!uploads/.gitkeep
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

migrations/**
!migrations/.gitkeep