{% extends 'base.html' %}

{% load static %}

{% block metaAndTitle%}

<!-- Important Tags for SEO -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" property="og:description" content="This Website designs and sells truck's signs">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- No So Important Tags for SEO -->
  <meta name="keywords" content="truck, truck signs, design truck signs, sell truck signs">
  <meta name=”robots” content=”index, follow”>

  <title>Truck Signs</title>

{% endblock %}

{% block bodyBlock%}

  <h1>Home Page</h1>

  <!-- {% for truckUrl in list_of_trucks_to_show %}
    <a href="{{ truckUrl }}"> Truck : {{ truckUrl }}</a>
  {% endfor%} -->

{% endblock %}
