

{% autoescape off %}
<div style="margin-left: 20px !important; padding: 10px !important; border: 1px solid #bf1e2d !important;" >
<h3 style="color:#bf1e2d !important; font-weight: 300 !important;">Hello {{user}},</h3>
    <p style="font-weight: 300 !important;"> Thank you for buying at <a href='https://truck-signs-frontend-nextjs.vercel.app/'>Truck Signs</a>.</p>
    <p style="font-weight: 300 !important;">Here is a resume of your order:</p>

    <p style="font-weight: 300 !important;">Amount of product: {{amount_of_product}}</p>

    <p style="font-weight: 300 !important;">Total amount: ${{total_amount}}</p>

    <p style="font-weight: 300 !important;">If it is not you please ignore this email</p>
    <br />
    <p style="font-weight: 300 !important;">For any questions or help contact us at <span style="color: #bf1e2d !important; font-weight: 300 !important">Signsfortrucks@gmail.com</span></p>
    </div>
{% endautoescape %}
